* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.nav-bar {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: initial;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #fff;
    padding: 12px 20px;
    box-shadow: 0 1px 10px rgba(32, 31, 31, 0.195);
}

.logo img {width: 60px;}

.menu {display: flex;}

.menu li {padding-left: 30px;}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(62, 8, 8);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {width: 100%;}

.open-menu , .close-menu {
    position: absolute;
    color: gray;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(19, 19, 19, 0.879);
        transition: all 0.2s ease-in-out;
    }

    .menu li {margin-top: 10px;}
    
    .menu li a {padding: 10px;}
    
    .open-menu , .close-menu {display: block;}
    
    #check:checked ~ .menu {right: 0;}
}


.container-public {
    width: 100%;
    height: 400px;
    margin-top: -18px;
    position: relative;
    background-image: url(/image/header2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-public-contacto {
    width: 100%;
    height: 550px;
    margin-top: -18px;
    position: relative;
    background-image: url(/image/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*about-primary*/
.about-primary {
    max-width: 80%;
    margin: 3% auto;
}

@media (max-width: 750px) {
    .about-primary{
        max-width: 90%;
    }
}

/*baner_we-make*/
.about-we-work {
    background: rgb(184, 16, 16);
    padding: 40px;
    text-align: center;
    color: #fff;
}

.about-we-work h3 {
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
    font-family: cursive;
}

.about-we-work p {
    font-size: 20px;
}

@media (max-width: 788px) {
    .about-we-work h3 {
        font-size: 30px;
    }

    .about-we-work p {
        font-size: 13px;
    }
}

@media (max-width: 490px) {
    .about-we-work h3 {
        font-size: 20px;
    }

    .about-we-work p {
        font-size: 12px;
    }
}

/*GALLERY SERVICIOS*/
.soluciones-oficina h1 {
    margin-top: 7%;
    text-align: center;
}

 .soluciones-oficina{
    width: 80%;
    margin: 0 auto;
}

.gallery-solution {
    display: grid;
    padding: 8%;
    gap: 7%;
    text-align: center;
}

.gallery-solution small {
    font-size: 12px;
}

.card-solution{
    position: relative;
    outline: none;
    width: 250px;
    height: 320px;
    box-shadow: 0 1px 10px rgba(32, 31, 31, 0.195);
    transition: transform .5s;
}

.card-solution:hover{
    transform: scale(1.1);
}

.content h6 {
    font-size: 15px;
}

.card-solution .container-public img {
    height: auto;
    width: 100%;
    max-width: 350px;
    min-height: 100px;
    display: block;
    margin: auto;
}

@media (min-width: 992px) {
    .gallery-solution {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {
    .gallery-solution{
        margin-bottom: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gallery-solution{
        grid-template-columns: 1fr;
        gap: 1%;
    }
}

/*CONTACTOS*/
.about-contacto{
    max-width: 58%;
    margin: 8% auto;
    line-height: 1.9;
}

.about-contacto small{
    color: rgb(184, 16, 16);
}

.about-contacto p{
    font-size: 14px;
}

/*Formulario contacto*/
.formulario-contacto{
    max-width: 80%;
    margin: 0 auto;
}

.formulario-contacto i{
    font-size: 35px;
}

/*RESPONSIVE CONTACTOS*/
.about-contacto{
    max-width: 80%;
    margin: 5% auto;
}

/*FOOTER*/
footer{
    font-size: 11px;
}

footer img{
    width: 100px;
    margin: 20px;
}
